@font-face {
    font-family: 'MinecraftTen';
    src: url('fonts/MinecraftTen.otf');
}

body {
    font-family: "MinecraftTen";
}

p {
	margin: 0;
	padding: 0.5vh;
}

input {
	font-size: 30px;
}


button {
	color: #4C4C4C;
	background-color: #d4d4d4;
	padding-left: 0.8vh;
	padding-right: 0.8vh;
	padding-top: 0.4vh;
	padding-bottom: 0.4vh;
	margin-top: 0.3vh;
	margin-bottom: 0.3vh;
	margin-left: 0;
	margin-right: 0.3vh;
	border: 0.2vh solid #8b8b8b;
	font-family: 'MinecraftTen';
	font-size: 24px;
}

button:hover {
	border: 3px solid #FFFFFF;
	background-color: #007305;
	color: #FFFFFF
}

button.selected {
	border: 3px solid #FFFFFF;
	background-color: #003f73;
	color: #FFFFFF
}

.GameMessage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	top: -2vh;
}

.GameMessage p {
	font-family: 'MinecraftTen';
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: azure;
}

.GameMessage h2 {
	font-family: 'MinecraftTen';
	font-size: 25px;
	font-weight: bold;	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: azure;
}

.option {
	font-family: 'MinecraftTen';
	font-size: 40px;
	background-color: beige;
	margin-top: 2vh;
}

.redTint {
	background-color: rgba(200, 25, 25, 190);
}

.greenTint {
	background-color: rgba(25, 200, 25, 190);
}

.screenBox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

  .active {
	visibility: visible;
  }

  .inactive {
	visibility: hidden;
  }

  .show {
	display: block;
  }

  .hide {
	display: none;
  }

  .helpbox {
	position: absolute;
	z-index: 10;
	width:40vh;
	height: 25vh;
	background-color: white;
	font-size: 21px;
	border-radius: 0.2em;
	border:gray;
	border-style: solid;
	padding: 1vh;
  }